#box {

    border: 10px solid rgb(25, 16, 146);
    height: 300px;
    width: 600px;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
    padding: 50px;
    


}

#scoreboard{
    border: 10px solid red;
    color: green;
    padding: 30px;
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
    width: 400px;
    align-content: center;


}