#box {

    border: 10px solid rgb(25, 16, 146);
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    padding: 50px;
    


}

#scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    color: green;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100px;
    width: 400px;
    align-content: center;


}

#buttonbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;



}

.btn{
    margin-left: auto;
    margin-right: auto;

}